.image-container {
    position: relative;
  }
  
  
  .delete-button {
    position: static;
    
  }
  
  .selected-option {
    color: green; /* or any other styling you want for the selected option */
    font-weight: bold; /* for example, making the text bold */
  }
  